/* style.css, envmon Mark I - Environment Monitor, Web itali style file
 * 
 * Author: Márcio Pessoa <marcio.pessoa@sciemon.com>
 * Contributors: none
 */
 
body {
  background-color: #F8F8C0;
  color: #423209;
}

a:link, a:visited {
  color: #FFFFFF;
}

a:hover, a:active {
  color: #808080;
}

#header {
  background-color: #FDB4B4;
  color: #AC8A37;
}

#Item {
  background-color: #000000;
  color: #AAAAAA;
}

#Item_description {
  background-color: #000000;
  color: #10BB10;
}

[title]:after {
	color:#FFFFFF;
	background:#FCC5C5;
}

#status0,
#status1,
#status2,
#status3,
#status4 {
  color: #000000;
}

#status0 {
  background-color: #68CF68;
}

#status1 {
  background-color: #E0E000;
}

#status2 {
  background-color: #FF3333;
}

#status3 {
  background-color: #FF9C59;
}

#status4 {
  background-color: #BBBBBB;
}

h1 {
  color: #725409;
}

h2 {
  color: #9E7D2B;
}

h3 {
  color: #DE8080;
}

p.Resource_title {
  color: #21B921;
}

a.Resource_title {
  color: #CCCCCC;
}

a.Resource_title:hover {
  color: #FFFFFF;
}

#footer {
  background-color: #AAAAAA;
  color: #000000;
}

#debug {
  background-color: #888888;
  color: #FFFFFF;
}

#cssmenu {
  background: #500050;
}

#cssmenu a {
  background: #500050;
  color: #ffffff;
}

#cssmenu > ul > li > a {
  color: #ffffff;
}

#cssmenu > ul > li:hover:after {
  border-bottom: #BC78BC;
}

#cssmenu > ul > li.active > a,
#cssmenu > ul > li:hover > a {
  color: #ffffff;
  box-shadow: #000000;
  -moz-box-shadow: #000000;
  -webkit-box-shadow: #000000;
  background: #BC78BC;
}

#cssmenu .has-sub ul li a {
  background: #792D79;
  border-bottom: #31b7f1;
  color: #ffffff;
}

#cssmenu .has-sub ul li:hover a {
  background: #BC78BC;
}

#cssmenu ul ul li:hover > a {
  color: #ffffff;
}

#cssmenu .has-sub .has-sub ul li a {
  background: #0c7fb0;
  border-bottom: #31b7f1;
}

#cssmenu .has-sub .has-sub ul li a:hover {
  background: #0a6d98;
}
